@tailwind base;
@tailwind components;
@tailwind utilities;

.leaflet-touch .leaflet-bar a {
    width: 50px;
    height: 50px;
    @apply flex justify-center items-center;
}

.leaflet-bar {
    border-radius: 50px;
    overflow: hidden;
}

@media screen(lg) {
    .leaflet-touch .leaflet-bar a {
        width: 40px;
        height: 40px;
        @apply flex justify-center items-center;
    }
}

.leaflet-popup-content {
    @apply flex flex-col gap-0.5;
}

.leaflet-popup-content .popup-title {
    @apply font-bold;
}

.leaflet-popup-content .popup-status {
    @apply flex justify-between items-center gap-1.5 mt-2;
}


.leaflet-popup-content .popup-status.avn::before {
    content: "";
    @apply w-1.5 h-1.5 bg-green-500 rounded-full;
}

.leaflet-popup-content .popup-status.unv::before {
    content: "";
    @apply w-1.5 h-1.5 bg-red-500 rounded-full;
}

.leaflet-popup-content .popup-status .popup-payout {
    @apply bg-green-600 w-fit px-[5px] py-[1px] rounded-sm font-semibold text-white ml-2;
}

.leaflet-popup-content .popup-status .popup-payout.unv {
    @apply bg-red-600;
}

.leaflet-popup-content div {
    @apply mt-3;
}

.leaflet-popup-content div button.popup-button-fetch {
    @apply bg-black text-white py-1.5 w-full rounded-md  hover:bg-gray-700;
}

.leaflet-popup-content div button.popup-button-fetch.unv {
    @apply bg-gray-400 cursor-not-allowed;
}
