@tailwind base;
@tailwind components;
@tailwind utilities;

.leaflet-touch .leaflet-bar a {
    width: 50px;
    height: 50px;
    @apply flex justify-center items-center;
}

.leaflet-bar {
    border-radius: 50px;
    overflow: hidden;
}

@media screen(lg) {
    .leaflet-touch .leaflet-bar a {
        width: 40px;
        height: 40px;
        @apply flex justify-center items-center;
    }
}

.leaflet-popup-content {
    @apply flex flex-col gap-0.5;
}